Repository hashgraph/hedera-local-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-sdk

chore: update .env
  .env
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump version
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: add state migration docker compose yml (#608)
  .env
  docker-compose-state-migration.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump local-node version (#609)
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: Provide tooling and configurations for creating a custom local node environment (#584)
  src/configuration/README.md
  src/configuration/initialResources.json
  src/configuration/types/IAccountProps.ts
  src/configuration/types/IPrivateKey.ts
  src/configuration/types/ITokenProps.ts
  src/constants.ts
  src/data/StateData.ts
  src/services/CLIService.ts
  src/services/LoggerService.ts
  src/state/AccountCreationState.ts
  src/state/ResourceCreationState.ts
  src/types/CLIOptions.ts
  src/utils/AccountUtils.ts
  src/utils/TokenUtils.ts
  test/testUtils.ts
  test/unit/states/AccountCreationState.spec.ts
  test/unit/states/ResourceCreationState.spec.ts
  test/unit/testBed.ts
  test/unit/utils/AccountUtils.spec.ts
  test/unit/utils/TokenUtils.spec.ts
  tsconfig.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: fix typescript warnings
  src/utils/TokenUtils.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: fix typescript warnings
  src/configuration/types/ITokenProps.ts
  src/utils/TokenUtils.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: fix typescript warnings (#613)
  src/configuration/types/ITokenProps.ts
  src/utils/TokenUtils.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump versions
  .env
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: bump versions (#615)
  .env
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: Add CLI option for persistTransactionBytes
  compose-network/mirror-node/application.yml
  src/services/CLIService.ts
  src/state/InitState.ts
  src/types/CLIOptions.ts
  test/unit/states/InitState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: change test description
  test/unit/states/InitState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network node version to 0.49.7
  .env
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump package version
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump images for all networks
  .env
  src/configuration/local.json
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: update mirror node versions
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: Bump network node version to 0.49.7 (#623)
  .env
  package-lock.json
  package.json
  src/configuration/local.json
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: remove deprecated Docker files
  .github/workflows/zxf-publish-docker-images.yaml
  docker/main-network-node/Dockerfile
  docker/main-network-node/entrypoint.sh
  docker/network-node-base/Dockerfile
  docker/network-node-haveged/Dockerfile
  docker/network-node-haveged/checksums/haveged_1.9.1-6ubuntu1_amd64.deb.sha256
  docker/network-node-haveged/checksums/haveged_1.9.1-6ubuntu1_arm64.deb.sha256
  docker/network-node-haveged/checksums/libhavege1_1.9.1-6ubuntu1_amd64.deb.sha256
  docker/network-node-haveged/checksums/libhavege1_1.9.1-6ubuntu1_arm64.deb.sha256
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: Add CLI option for persistTransactionBytes (#620)
  compose-network/mirror-node/application.yml
  src/services/CLIService.ts
  src/state/InitState.ts
  src/types/CLIOptions.ts
  test/unit/states/InitState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: expose relay and relay-ws
  docker-compose-state-migration.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump version
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: expose relay and relay-ws in docker-compose-state-migration.yml (#625)
  docker-compose-state-migration.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump release version to 2.25.2 (#626)
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

docs: add how to build custom images readme
  docs/custom-sub-system-builds.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

docs: add how to build custom images readme
  docs/custom-sub-system-builds.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

docs: add how to customize system components readme
  docs/custom-sub-system-configs.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

docs: add how to customize system components readme
  docs/custom-sub-system-configs.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: remove deprecated Docker files (#624)
  .github/workflows/zxf-publish-docker-images.yaml
  docker/main-network-node/Dockerfile
  docker/main-network-node/entrypoint.sh
  docker/network-node-base/Dockerfile
  docker/network-node-haveged/Dockerfile
  docker/network-node-haveged/checksums/haveged_1.9.1-6ubuntu1_amd64.deb.sha256
  docker/network-node-haveged/checksums/haveged_1.9.1-6ubuntu1_arm64.deb.sha256
  docker/network-node-haveged/checksums/libhavege1_1.9.1-6ubuntu1_amd64.deb.sha256
  docker/network-node-haveged/checksums/libhavege1_1.9.1-6ubuntu1_arm64.deb.sha256
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

docs: add how to build custom images readme (#627)
  docs/custom-sub-system-builds.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

replaced aslafy-z/conventional-pr-title-check with step-security's version
  .github/workflows/flow-pr-title-check.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

ci: Update Conventional PR title check (#630)
  .github/workflows/flow-pr-title-check.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: bump network node to 0.50.0
  .env
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network node to 0.50.0 (#631)
  .env
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: Add support for smart contract verification
  .env
  docker-compose.yml
  networks-config.json
  sourcify-ui-docker-config.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: Add support for smart contract verification
  .env
  docker-compose.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: add smart contract verification
  .env
  compose-network/explorer/networks-config.json
  compose-network/sourcify/local.js
  compose-network/sourcify/servers.yaml
  compose-network/sourcify/sourcify-chains.json
  compose-network/sourcify/ui-config.json
  docker-compose.yml
  networks-config.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: linting
  docs/custom-sub-system-configs.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

docs: add how to customize system components readme (#628)
  docs/custom-sub-system-configs.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: expose opcodes endpoint by default in local-node
  compose-network/mirror-node/application.yml
  test/unit/states/InitState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: improve and beatify logger
  src/constants.ts
  src/controller/StateController.ts
  src/services/DockerService.ts
  src/services/LoggerService.ts
  src/state/AccountCreationState.ts
  src/state/CleanUpState.ts
  src/state/InitState.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @georgi-l95 @isavov @Ivo-Yankov @natanasow @konstantinabl @Ivo-Yankov @victor-yanev

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Cmake project files and inline plugins
**/.clang*                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/.clang-format                                @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/.clang-tidy                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/CMakeLists.txt                               @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/CMakePresets.json                            @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk

# Codacy Tool Configurations
/config/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers
.remarkrc                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers
