Repository hashgraph/hedera-local-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-sdk

ci: update package.json and package-lock.json for semantic-release (#679)
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: Update local-node network images
  .env
  docker-compose.yml
  package-lock.json
  package.json
  src/configuration/local.json
  test/cypress/package-lock.json
  test/cypress/package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: improve compatibility with different versions
  docker-compose.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: Update local-node network images
  src/configuration/local.json
  test/smoke/package-lock.json
  test/smoke/package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: not found images
  .env
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: Update local-node network images (#682)
  docker-compose.yml
  package-lock.json
  package.json
  src/configuration/local.json
  test/cypress/package-lock.json
  test/cypress/package.json
  test/smoke/package-lock.json
  test/smoke/package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci:update package.json and package-lock.json for semantic-release
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci: update package.json and package-lock.json for semantic-release (#683)
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: add unlimited auto associations flag
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: add unlimited auto associations flag (#684)
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: removing only networks started by hedera instead of global prune
  docker-compose-state-migration.yml
  docker-compose.yml
  src/constants.ts
  src/services/DockerService.ts
  src/state/StopState.ts
  src/utils/SafeDockerNetworkRemover.ts
  test/unit/states/InitState.spec.ts
  test/unit/states/StopState.spec.ts
  test/unit/utils/SafeDockerNetworkRemover.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network images and release tag
  .env
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network images and release tag (#687)
  .env
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: typo
  test/unit/utils/SafeDockerNetworkRemover.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci: update package.json and package-lock.json for semantic-release
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci: update package.json and package-lock.json for semantic-release (#690)
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: removing all the networks with hedera-prefix instead of the ones listed in the constant
  README.md
  docker-compose.evm.yml
  docker-compose.multinode.evm.yml
  docker-compose.multinode.yml
  docker-compose.yml
  src/constants.ts
  src/utils/SafeDockerNetworkRemover.ts
  test/unit/states/StopState.spec.ts
  test/unit/utils/SafeDockerNetworkRemover.spec.ts
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: removing the bridge suffix from one of the bridge typed networks as its usage seemed to be inconsistent
  docker-compose.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network images
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network images (#695)
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: removing extra networks
  docker-compose.evm.yml
  docker-compose.multinode.evm.yml
  docker-compose.multinode.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: ignoring network in evm yaml files
  docker-compose.evm.yml
  docker-compose.multinode.evm.yml
  test/unit/utils/SafeDockerNetworkRemover.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: ignoring network in multinode yaml files since they excend services defined in docker-compose.yaml
  docker-compose.multinode.yml
  test/unit/utils/SafeDockerNetworkRemover.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: ignoring network in multinode yaml files since they excend services defined in docker-compose.yaml
  docker-compose.multinode.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: removing only networks started by hedera instead of global prune (#686)
  README.md
  docker-compose-state-migration.yml
  docker-compose.evm.yml
  docker-compose.yml
  src/constants.ts
  src/services/DockerService.ts
  src/state/StopState.ts
  src/utils/SafeDockerNetworkRemover.ts
  test/unit/states/InitState.spec.ts
  test/unit/states/StopState.spec.ts
  test/unit/utils/SafeDockerNetworkRemover.spec.ts
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

Update Docker Compose version README.md
  README.md
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

feat: add docker output to logger
  src/services/DockerService.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: reduce occasional log spam
  src/services/ConnectionService.ts
  src/state/StartState.ts
  src/utils/debounce.ts
  test/unit/states/startState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: further reduced log clutter
  src/services/ConnectionService.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: revert accidental change
  test/unit/states/startState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: Improve DockerService logging, don't print empty lines
  src/services/DockerService.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: formatting
  src/services/DockerService.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: Improve log verbosity (#577)
  src/services/ConnectionService.ts
  src/services/DockerService.ts
  src/state/StartState.ts
  src/utils/debounce.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: latest mirror node version
  .env
  .github/workflows/flow-pull-request-checks.yaml
  compose-network/mirror-node/application.yml
  compose-network/mirror-node/init.sh
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: latest mirror node version (#709)
  .env
  .github/workflows/flow-pull-request-checks.yaml
  compose-network/mirror-node/application.yml
  compose-network/mirror-node/init.sh
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: rate limiting
  .env
  docker-compose.yml
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: rate limiting
  .env
  .github/workflows/flow-pull-request-checks.yaml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: rate limiting (#713)
  .env
  .github/workflows/flow-pull-request-checks.yaml
  docker-compose.yml
  package-lock.json
  package.json
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: update local-node version
  package-lock.json
  package.json
  src/state/InitState.ts
  test/cypress/package-lock.json
  test/cypress/package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: update images
  .env
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @georgi-l95 @isavov @Ivo-Yankov @natanasow @konstantinabl @Ivo-Yankov @victor-yanev

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Cmake project files and inline plugins
**/.clang*                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/.clang-format                                @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/.clang-tidy                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/CMakeLists.txt                               @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/CMakePresets.json                            @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk

# Codacy Tool Configurations
/config/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers
.remarkrc                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers
