Repository hashgraph/hedera-local-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-sdk

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @georgi-l95 @isavov @Ivo-Yankov @natanasow @konstantinabl @Ivo-Yankov @victor-yanev

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Cmake project files and inline plugins
**/.clang*                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/.clang-format                                @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/.clang-tidy                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/CMakeLists.txt                               @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk
**/CMakePresets.json                            @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk

# Codacy Tool Configurations
/config/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers
.remarkrc                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers

feat: bump network images
  src/configuration/local.json
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: add docs for custom web3 configurations
  docs/custom-sub-system-configs.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat:bump local-node version to 2.26.0
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: nodes not starting
  package-lock.json
  package.json
  src/state/AccountCreationState.ts
  test/unit/states/AccountCreationState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: node startup
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix: unit tests
  src/configuration/previewnet.json
  src/state/DebugState.ts
  src/state/ResourceCreationState.ts
  test/unit/states/AccountCreationState.spec.ts
  test/unit/states/CleanUpState.spec.ts
  test/unit/states/DebugState.spec.ts
  test/unit/states/InitState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: cleanup
  src/controller/StateController.ts
  test/unit/states/AccountCreationState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: beatify logger (#639)
  package-lock.json
  package.json
  src/configuration/local.json
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
  src/constants.ts
  src/controller/StateController.ts
  src/services/DockerService.ts
  src/services/LoggerService.ts
  src/state/AccountCreationState.ts
  src/state/CleanUpState.ts
  src/state/DebugState.ts
  src/state/InitState.ts
  src/state/ResourceCreationState.ts
  test/unit/states/AccountCreationState.spec.ts
  test/unit/states/CleanUpState.spec.ts
  test/unit/states/DebugState.spec.ts
  test/unit/states/InitState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: Add documentaion on how to specify mirror node image version for each container
  docker-compose.yml
  docs/custom-sub-system-configs.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: fix sdk dependency
  package-lock.json
  package.json
  src/configuration/local.json
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
  test/smoke/package-lock.json
  test/smoke/package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: fix sdk dependency (#643)
  package-lock.json
  package.json
  src/configuration/local.json
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
  test/smoke/package-lock.json
  test/smoke/package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: add application.yml to web3 volumes in docker-compose.yml
  .env
  docker-compose.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: add SPRING_CONFIG_ADDITIONAL_LOCATION to web3 in docker-compose.yml
  docker-compose.yml
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

feat: expose opcodes endpoint by default (#638)
  .env
  compose-network/mirror-node/application.yml
  docker-compose.yml
  docs/custom-sub-system-configs.md
  test/unit/states/InitState.spec.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network node tag to 0.51.0
  .env
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network node tag to 0.51.0 (#651)
  .env
  src/configuration/local.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump local node to 2.26.2
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump local node to 2.26.2 (#652)
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci: Add semantic release action flow
  .github/workflows/flow-semantic-release.yml
  release.config.js
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci: Add semantic release action flow
  release.config.js
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

Updated nick-fields/retry v3.2.0 with step-security/retry v3.0.0
  .github/workflows/flow-pull-request-checks.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

ci: Updated nick-fields/retry v3.2.0 with step-security/retry v3.0.0 (#655)
  .github/workflows/flow-pull-request-checks.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: remove configuratiosn
  README.md
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
  src/data/ConfigurationData.ts
  src/services/CLIService.ts
  src/state/InitState.ts
  src/types/CLIOptions.ts
  src/types/NetworkType.ts
  test/unit/states/InitState.spec.ts
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: edit conf data
  src/data/ConfigurationData.ts
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: fix workflow
  .github/workflows/flow-pull-request-checks.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: fix workflow
  .github/workflows/flow-pull-request-checks.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: fix workflow
  .github/workflows/flow-pull-request-checks.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

feat: Remove previewnet, testnet, mainnet configuration (#659)
  .github/workflows/flow-pull-request-checks.yaml
  README.md
  src/configuration/mainnet.json
  src/configuration/previewnet.json
  src/configuration/testnet.json
  src/data/ConfigurationData.ts
  src/services/CLIService.ts
  src/state/InitState.ts
  src/types/CLIOptions.ts
  src/types/NetworkType.ts
  test/unit/states/InitState.spec.ts
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci: Add semantic release action flow
  .github/workflows/flow-semantic-release.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: address feedback
  .github/workflows/flow-semantic-release.yml
  release.config.js
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci: Add semantic release action flow (#653)
  .github/workflows/flow-semantic-release.yml
  release.config.js
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

Bump network configuration
  .env
  docker-compose.yml
  package-lock.json
  package.json
  src/configuration/local.json
  test/cypress/package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump network configuration (#672)
  .env
  docker-compose.yml
  package-lock.json
  package.json
  src/configuration/local.json
  test/cypress/package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix dependency
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix dependency
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

fix dependency
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump local-node version to 2.27.0
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: bump local-node version to 2.27.0 (#673)
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

chore: Add documentation how to specify mirror node image version (#642)
  docker-compose.yml
  docs/custom-sub-system-configs.md
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev

ci: update package.json and package-lock.json to include semantic-release
  package-lock.json
  package.json
Owners: @georgi-l95, @isavov, @Ivo-Yankov, @natanasow, @konstantinabl, @victor-yanev
